<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTossServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetTossServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuessEvaluationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GuessEvaluationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTossServlet</servlet-name>
        <url-pattern>/GetTossServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuessEvaluationServlet</servlet-name>
        <url-pattern>/GuessEvaluationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--computer name-->
    <context-param>
        <param-name>comp_name</param-name>
        <param-value>Siri</param-value>
    </context-param>
    <!--handle the FileNotFoundException (404)-->
    <error-page>
        <error-code>404</error-code>
        <location>/file_not_found.jsp</location>
    </error-page>
    <!--handle the InvalidGuessException-->
    <error-page>
        <exception-type>za.ac.tut.model.bl.InvalidGuessException</exception-type>
        <location>/invalid_guess.jsp</location>
    </error-page>
</web-app>
